
/*camisetas ampliadas al hacer clic*/
.ampliada {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.ampliada >img{
    width: 550px;
    height: 600px;
}

/*camisetas de la barra horizontal*/
.textos_camisetas_menu{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid black;
    border-top: 3px solid black ;
    border-left: 3px solid black ;
    border-right: 3px solid black ;
    }

.imagen_menu{
    width:384.7px ;
    background-color: white;
}


/*lugar donde se almacenan las camisetas*/
.caja{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}